


body {
    margin: 0;
    padding: 0;
    border: 0;
}


.fondo {
    background: #121619;
    width: 100%;
    overflow: auto;
  
}


a {
    color: #fff;
}



header {
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    text-align: center;
    color: #fff;;
  }

.logo {
background-image: url('../img/logo.png');
text-align: left;
}

p {
    font-size: 16px;
    
}
.text3 {
    text-align: center;
}



.parafo {
text-align: right;
}


.numeros {
    background-color: #E6E7E7;
}

.logo {
    width: 20%;
    ;
}
