// Color Sceme

//Firts Color Scheme
$white: #fff;
$platinum: #E6E7E7;
$Lightgray: #D1D1D1;

// Second color Scheme
$FuzzyWuzzy: #E56353;
$Rudypink: #D76C69;
$Spanishpink: #ECBCBA;

// Third Color Scheme
$Eerieblack: #121619;
$Raisinblack: #222323;
$Nickel: #6C6E70;

// Font Family
$Roboto: 'Playfair Display', serif;

// Tipography

// Font Weight
$light: 300;
$regular: 400;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$medium: 16px;
$small: 12px;