


.blog {
    color: #D76C69;
}

.parrafo_titulo {
    font-family: 'Roboto', sans-serif;
    font-size: large; 
    font-size: 18px;
}



.parrafo_master {
    text-align: left;    
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    line-height: 50px;
   
}

.parra {
    line-height: 40px;
    margin-left: auto;
     
}




.texto_header {
    
    font-size: 70px;
     font-family: display;
     font-style: italic;  
     font-weight: bold;
    
}
 
h1 {
    font-size: 40px;
     font-family: playfair;
     font-style: italic;  
}

.text3 {
    text-align: left;
    
   
}


.text_color {
    color: #D76c69;
    font-size: 25px;
}

.depelos {
    line-height: 40px;
    
}

.uno {
    color: #6C6E70;
}


.dos {
    color: #6C6E70;
}


.tres {
    color: #6C6E70;
}


.siguiente {
    color: #6C6E70;
}


.active {
    background-color: #6C6E70;
    color: #6C6E70;
}
